@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,700&family=ZCOOL+KuaiLe&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
:root{
    --black: #2f2f2f;
    --white: #fff;
    --red: #f83038;
}
.main{
    position: relative;
    min-height: 100vh;
    background: linear-gradient(#1c1c1c, #323232);
    padding: 30px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main::before{
    content: 'ProBook';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16vw;
    font-weight: 700;
    color: rgba(255,255,255, 0.05);
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    max-width: 80px;
}
.img{
    width:150px;
}
.navigation{
    display: flex;
}
.navigation li{
    list-style-type: none;
}
.navigation li a{
    position: relative;
    color: var(--white);
    margin-left: 40px;
    text-decoration: none;
    transition: 0.55s;
}
.navigation li a:hover{
    color: var(--red);
}
.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    z-index: 1;
}
.content h2{
    font-size: 5em;
    font-weight: 300;
    color: var(--white);
    text-align: center;
}
.content h2 span{
    font-weight: 700;
}
.btn{
    display: inline-block;
    background-color: var(--red);
    color: var(--white);
    text-decoration: none;
    padding: 16px 36px;
    margin-top: 20px;
    border-radius: 50px;
    font-size: 1.25em;
    transition: 0.32s ease;
}
.btn:hover{
    padding: 16px 50px;
}
.macbook{
    padding-top: 30px;
    max-width: 45%;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sci{
    display: flex;
}
.sci li{
    list-style: none;
}
.sci li a{
    color: var(--white);
    font-size: 2em;
    margin-right: 20px;
    transition: 0.3s ease-in;
}
.sci li a:hover{
    color: var(--red);
}
.dots{
    display: flex;
}
.dots .dot{
    width: 10px;
    height: 10px;
    background-color: rgba(255,255,255, 0.2);
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
}
.dots .dot.active{
    background-color: #fff;
}
.slider .slides{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    transition: 1s ease;
    opacity: 0;
    pointer-events: none;
}
.slider .slides.active{
    opacity: 1;
}
.slider .slides h2{
    color: var(--white);
    font-size: 3em;
}
.slider .slides:last-child h2{text-align: end;}
.slider .slides h2 span{
    color: var(--red);
    font-size: 0.5em;
    font-weight: 400;
    font-style: italic;
} 

/* resposive part of the website  */
@media(max-width: 1000px){
    .main{
        padding: 40px;
    }
    header{
        padding: 20px 40px;
    }
    .footer{
        padding: 20px 40px;
    }
    .slider{
        position: relative;
        width: 100%;
        top: 10vh;
    }
}